button {
    align-items: center;
    border: 2px solid rgb(231, 187, 216);
    border-radius: 8px;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    margin: auto;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration-color: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-image: linear-gradient(to right, #ecb1f0, #f0b6ed, #f3bceb, #f6c2e9, #f7c8e8);
}

.repl {
    position: relative;
    min-height: 95vh;
}

#repl-history {
    border: 2px solid rgb(231, 187, 216);
    border-radius: 8px;
    height: 75vh;
    margin: auto;
    display: block;
    overflow: scroll;
    white-space: pre-wrap;
}

#repl-input {
    margin: auto;
    height: 10vh;
}

#repl-command-box {
    width: 90%;
    margin: auto;
    display: block;
    border: 2px solid rgb(231, 187, 216);
    border-radius: 8px;
}